<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa annoksen <span th:text="${annos.nimi}">annos</span> sivulle</h1>

        <p><span th:text="${annos.nimi}">annos</span>: </p>

<!--        <ol>
            <li th:each="aine: ${raakaaineet}">
                <span th:text="${aine.nimi}">raaka-aineen nimi</span>
            </li>
        </ol>-->

        <ol>
            <li th:each="aine: ${raakaaineet}">
                <span th:text="${aine.nimi}">raaka-aineen nimi</span>
            </li>
        </ol>

        <p><a href="/annosMain">Annoslistaukseen!</a></p>
    </body>
</html>