<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h1>Annokset</h1>


        <ol>
            <li th:each="opiskelija: ${annokset}">
                <span th:text="${opiskelija.nimi}">opiskelijan nimi</span> <a th:href="${'/annokset/' + opiskelija.id}">poista (ei toimi)</a>
            </li>
        </ol>

        <h2> Luo uusi annos </h2>

        <form method="POST" action="/annosMain">
            Annoksen nimi: <br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        <br> </br>
        
        <h2> Lisää annokseen raaka-aine </h2>

        <form method="POST" action="/annosMain">
            Annoksen nimi:<br/>
            <select>
                <option th:each="annos: ${annokset}">
                    <span th:text="${annos.nimi}"> annoksen nimi</span>
                </option>
            </select>
            <br/>
            Lisättävä raaka-aine<br/>
            <select>
                <option th:each="ra: ${rat}">
                    <span th:text="${ra.nimi}"> ran nimi</span>
                </option>
            </select>
            <br/>
            Järjestys<br/>
            <input type="text" name="jarjestys"/><br/>
            Määrä<br/>
            <input type="text" name="maara"/><br/>
            Ohje<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        <p><a href="/raakaAineMain">Raaka-aine listaus!</a></p>


    </body>
</html>