<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothielista</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Annoslista</h1>

        <p>Drafti <span th:text="${viesti}">jotain?</span></p>
        
        

        <p><a href="/annosMain">Luo uusi annos</a></p>
        <p><a href="/raakaAineMain">Tarkastele ja lisää aineksia annoksiin</a></p>
        
    </body>
</html>